
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adminmethod</title>
</head>
<body>
    <div>
        <p>This is the admin dashboard.</p>

        <a href="@Url.Action("Logout", "Admin")" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>
